*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Rust
zzz-core/target/

# Android
app/build/
app/src/main/jniLibs/

# Keys
*.jks
*.keystore
